@font-face {
    font-family: "Urbanist";
    src: url("/data/Urbanist/Urbanist-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans";
    src: url("/data/Open_Sans/OpenSans-VariableFont_wdth/,wght.ttf") format("truetype");
}

@font-face {
    font-family: "Lato";
    src: url("/data/Lato/Lato-Regular.ttf") format("truetype");
}

body
{
    background-color: white;
    margin: 0;
    padding: 0;
    scroll-margin-top: 20px;
    font-size: 20px;
    font-family: 'Lato';
}

.flex-container
{
    margin-top: 5%;
    /* border: 1%;
    border-style: solid;
    border-color: black; */
    justify-content: center;
    align-items: center;
    text-align: center;
}

.responsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 1%;
    border-color: black;
    border-style: solid;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(76, 76, 76);
    overflow: hidden;
    text-align: center;
}

/* Style the links inside the navigation bar */
.topnav a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 1.5% 1.1%;
    text-decoration: none;
    font-size: 18px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: black;
    color: white;
    text-decoration: underline;
}

.nav-links {
    display: inline-block;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}



/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content 
{
    padding-top: 102px;
}

.about-me
{
    margin-top: 5vw;
    margin-left: 5vw;
    margin-right: 5vw;
    text-align: left;
    line-height: 35px;
}

.resume-heading
{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.download-button {
    padding: 10px 10px;
    margin-right: 1%;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #3498db;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    outline: none;
}

.actions-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.heading-container
{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 5%;
    align-items: center;
    text-align: center;
    /* border: 1%;
    border-style: solid; */

}

.space
{
    margin: 20%;
}

.resume-pdf
{
    width: 80%;
    height: auto;
    margin: auto; 
    border: 1%; 
    border-style: solid;
}

.project-boxes {
    box-sizing: border-box;
    border: 1px solid gray; /* Choose your desired border style and width */
    border-radius: 5px;
    margin: 5%;
    background-color: rgb(76, 76, 76);
    display: flex;
    justify-content: center;
    text-align: center;
    width: 300px;
    color: white;
    text-decoration: none;
    padding-top: 5%;
}

.project-boxes:hover
{
    background-color: rgb(62, 62, 62);
    color: white;
}


.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.fill-div
{
    height: 100%;
    width: 100%;
    display: block;
}

@media only screen and (min-width: 1000px) {

    body
    {
        font-size: 24px;
    }

    .flex-container
    {
        display:flex;
        /* border: 1%;
        border-style: solid;
        border-color: black; */
    }

    .about-me
    {
        line-height: 50px;
    }

    .responsive
    {
        width: 25%;
    }

    .resume-heading
    {
        margin: auto;
        
    }

    .topnav
    {
        display:block;
    }

    .resume-pdf
    {
        width: 45%;
    }

    .projects-container
    {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
    }

    .project-boxes
    {
        height: 400px;
        width: 400px;
        margin: 0;
        margin-top: 5%;
        padding-top: 2%;
    }
}


