@font-face {
    font-family: "Urbanist";
    src: url("/data/Urbanist/Urbanist-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans";
    src: url("/data/Open_Sans/OpenSans-VariableFont_wdth/,wght.ttf") format("truetype");
}

@font-face {
    font-family: "Lato";
    src: url("/data/Lato/Lato-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    src: url("data/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}

body
{
    background: rgb(42,42,42);
    background: radial-gradient(circle, rgba(42,42,42,1) 0%, rgba(14,14,14,1) 100%);
    margin: 0;
    padding: 0;
    scroll-margin-top: 20px;
    font-size: 20px;
    font-family: "Montserrat";
    color: white;
    
}

.flex-container
{
    margin-top: 5%;
    /* border: 1%;
    border-style: solid;
    border-color: black; */
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.responsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 1%;
    border-color: black;
    border-style: solid;
    margin-top: 15%;
}


.topnav {
    background: black;
    width: 90%;
    margin: 0 auto; /* Center the element */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;
    border-radius: 22px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
    align-items: center;
    align-content: center;
    font-size: 12px;
    position: fixed;
    left: 0; /* Ensure it starts from the left edge of the viewport */
    right: 0; /* Ensure it ends at the right edge of the viewport */
    top: 5%; /* Ensure it starts from the top edge of the viewport */
}



/* Style the links inside the navigation bar */
.topnav a {
    display: flex;
    color: #f2f2f2;
    text-align: center;
    padding: 1.5% 1.1%;
    text-decoration: none;
    justify-content: space-around;
    font-size: 12px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.description
{
    margin: 7.5%;
    text-align: left;
    line-height: 35px;
    text-align: center;
    margin-top: 15%;
}

.description p
{
    font-size: 24px;
}

.description h1
{
    font-size: 48px;
}

.resume-heading
{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    margin-top: 0%;
}


.resume-container
{
    display:block;
    align-items: center;
    text-align: center;
    /* border: 1%;
    border-style: solid; */

}

.actions-container
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.download-button
{
    background: none;
    border: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(136, 1, 1);
    color: rgb(166, 0, 0);
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    padding: 1% 2%;
    margin-right: 1%;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.space
{
    margin: 15%;
}


.project-boxes {
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 3%;
    background: none;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 300px;
    color: white;
    text-decoration: none;
    padding-top: 5%;
    flex-direction: column;
}

.project-boxes:hover
{
    color: white;
    border-color: rgb(136, 1, 1);
}


.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.about-heading
{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 10%;
}

.about-div
{
    margin: 10%;
}

.about-div p
{
    font-size: 18px;
}

.skills-div
{
    display: flex;
    flex-direction: row;
    justify-content:left;
    flex-wrap: wrap;
}

.about-div h5
{
    margin-top: 25%;
}

.skills-box
{
    background:none;
    border: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(136, 1, 1);
    color: rgb(166, 0, 0);
    padding: 0% 1%;
    margin-top: 2%;
    margin-right: 1%;
}

.fill-div
{
    height: 100%;
    width: 100%;
    display: block;
}

.contact-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5%;
    
}

.contact-container p
{
    font-size: 14px;
}

.contact-container h5
{
    font-size: 16px ;
    
}

.contact-box
{
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 5%;
    background: none;
    display: flex;
    justify-content: center;
    text-align: center;
    width: fit-content;
    padding: 0% 10%;
    color: white;
    text-decoration: none;
    padding-top: 2%;
    flex-direction: column;
    padding-bottom: 5%;
}

.social-flex
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.social-flex a
{
    color: white;
    font-size: 18px;
}

.social-flex a:hover
{
    color: rgb(198, 198, 198);
}

.title
{
    align-items: center;
    text-align: center;
    justify-content: center;
}

.project-description
{
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
}

.project-flex
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */

}

.project-picture
{
    width: 80%;
    height: auto;
    margin: 5%
}

.project-title-flex
{
    display: flex;
    flex-direction: column;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    margin-right: 10%;
}

.githubButton
{
    border-radius: 10px;
    background: none;
    border-color: rgb(136, 1, 1);
    size: 50%;
    margin-left: 10%;
}

.githubButton:hover
{
    cursor: pointer;
    border-color: rgb(107, 0, 0);
}

.project-languages
{
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
}

@media only screen and (min-width: 1000px) {

    body
    {
        font-size: 24px;
    }

    .topnav {
        background: black;
        width: 750px;
        margin: 0 auto; /* Center the element */
        display: flex;
        flex-direction: row;
        padding: 5px;
        border-radius: 22px;
        box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
    }

    .topnav a
    {
        font-size: 18px;
    }

    .flex-container
    {
        display:flex;
        /* border: 1%;
        border-style: solid;
        border-color: black; */
        flex-direction: row-reverse;
        margin-top: 10%;
    }

    .description
    {
        line-height: 50px;
        margin-top: 5vw;
        margin-left: 10vw;
        margin-right: 5vw;
        text-align: left;
        line-height: 35px;
    }

    .responsive
    {
        width: 25%;
        margin-top: 0%;
    }

    .projects-container
    {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        margin: 7%;
        margin-top: 0%;
    }

    .project-boxes
    {
        height: 200px;
        width: 400px;
        margin: 0;
        margin-top: 5%;
        padding-top: 2%;
        border-radius: 20px;
        flex-direction: column;
        justify-content: space-between;
    }

    .about-div p
    {
        font-size: 24px;
    }

    .about-div h5
    {
        margin-top: 10%;
    }

    .skills-div
    {
        display: flex;
        flex-direction: row;
    }

    .skills-box
    {
        padding: 0% 1%;
        margin-top: 2%;
        border: 1%;
    }

    .project-boxes h6
    {
        margin-top: -10%;
    }

    .space
    {
        margin: 10%;
    }

    .project-picture
    {
        width: 60%;
        height: auto;
        margin-left: 5%;
        margin-right: 5%;

    }

    .project-languages
    {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;;
    }

    .title
    {
        margin-left: 5%;
    }

    .project-title-flex
    {
        flex-direction: row;
    }
}


